@using EPiServer.Core
@using EPiServer.Web.Mvc.Html
@model BbmUnderlakare.Models.Pages.HospitalFormAt


<div class="col-md-12">
    <ul>
        <strong>@Html.LabelFor(m => m.Huvudman)</strong>
        @Html.PropertyFor(m => m.Huvudman)
        <br />
        <strong>@Html.LabelFor(m => m.ATblockensLangd)</strong>
        @Html.PropertyFor(m => m.ATblockensLangd)
        <br />
        <strong>@Html.LabelFor(m => m.ATBlockTermin)</strong>
        @Html.PropertyFor(m => m.ATBlockTermin)
        <br />
        <strong>@Html.LabelFor(m => m.AntalSokandeBlock)</strong>
        @Html.PropertyFor(m => m.AntalSokandeBlock)
        <br />
        <strong>@Html.LabelFor(m => m.Ingangslon)</strong>
        @Html.PropertyFor(m => m.Ingangslon)
        <br />
        <strong>@Html.LabelFor(m => m.LonEfter18Manader)</strong>
        @Html.PropertyFor(m => m.LonEfter18Manader)
        <br />
        <strong>@Html.LabelFor(m => m.STLon)</strong>
        @Html.PropertyFor(m => m.STLon)
        <br />
        <strong>@Html.LabelFor(m => m.Studiepott)</strong>
        @Html.PropertyFor(m => m.Studiepott)
        <br />
        <strong>@Html.LabelFor(m => m.Personalbostad)</strong>
        @Html.PropertyFor(m => m.Personalbostad)
        <br />
        <strong>@Html.LabelFor(m => m.HyresnivaTreaRok)</strong>
        @Html.PropertyFor(m => m.HyresnivaTreaRok)
        <br />
        <strong>@Html.LabelFor(m => m.Bostadsmarknad)</strong>
        @Html.PropertyFor(m => m.Bostadsmarknad)
        <br />
        <strong>@Html.LabelFor(m => m.HjalpAttHittaBoende)</strong>
        @Html.PropertyFor(m => m.HjalpAttHittaBoende)
        <br />
        <strong>@Html.LabelFor(m => m.Introduktion)</strong>
        @Html.PropertyFor(m => m.Introduktion)
        <br />
        <strong>@Html.LabelFor(m => m.Undervisning)</strong>
        @Html.PropertyFor(m => m.Undervisning)
        <br />
        <strong>@Html.LabelFor(m => m.Sjalvstudier)</strong>
        @Html.PropertyFor(m => m.Sjalvstudier)
        <br />
        <strong>@Html.LabelFor(m => m.HandledareHuvudansvar)</strong>
        @Html.PropertyFor(m => m.HandledareHuvudansvar)
        <br />
        <strong>@Html.LabelFor(m => m.MentorHuvudhandledare)</strong>
        @Html.PropertyFor(m => m.MentorHuvudhandledare)
        <br />
        <strong>@Html.LabelFor(m => m.Ledarskapsutbildning)</strong>
        @Html.PropertyFor(m => m.Ledarskapsutbildning)
        <br />
        <strong>@Html.LabelFor(m => m.BetaldATStamma)</strong>
        @Html.PropertyFor(m => m.BetaldATStamma)
        <br />
        <strong>@Html.LabelFor(m => m.EnsamPaNattjour)</strong>
        @Html.PropertyFor(m => m.EnsamPaNattjour)
        <br />
        <strong>@Html.LabelFor(m => m.STTjansterErbjuds)</strong>
        @Html.PropertyFor(m => m.STTjansterErbjuds)
        <br />
        <strong>@Html.LabelFor(m => m.MojlighetTillVikariat)</strong>
        @Html.PropertyFor(m => m.MojlighetTillVikariat)
        <br />
        <strong>@Html.LabelFor(m => m.ObesattaTjanster)</strong>
        @Html.PropertyFor(m => m.ObesattaTjanster)
        <br />
        <strong>@Html.LabelFor(m => m.AntalLakare)</strong>
        @Html.PropertyFor(m => m.AntalLakare)
        <br />
        <strong>@Html.LabelFor(m => m.Upptagningsomrade)</strong>
        @Html.PropertyFor(m => m.Upptagningsomrade)
        <br />
        <strong>@Html.LabelFor(m => m.Ovrigt)</strong>
        @Html.PropertyFor(m => m.Ovrigt)
        <br />
        <strong>@Html.LabelFor(m => m.Kontaktperson)</strong>
        @Html.PropertyFor(m => m.Kontaktperson)
    </ul>
</div>

